<div class="navigate">
    <button type="button" (click)="toggleAllProductsForm()">Available products</button>
    <button type="button" (click)="toggleBoughtProductsForm()">My products</button>
    <button routerLink="/employee">Innovations</button>
    <a (click)="signOutWithCognito()" style="cursor: pointer;" class="button">
        <img src="https://img.icons8.com/?size=512&id=108652&format=png">
        <div class="logout">LOGOUT</div>
    </a>
</div>

<div *ngIf="showAllProducts" class="grid m-5">
    <div *ngFor="let prod of allProductsList" class="grid__item">
        <div class="card"><img class="card__img" src="https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2250&amp;q=80" alt="Snowy Mountains">
        <div class="card__content">
            <h1 class="card__header">{{ prod.name }}</h1>
            <p class="card__text"> Amount:{{ prod.amount }}</p>
            <button class="card__btn" (click)="buyProduct(prod.productId)">Token Price: {{ prod.tokenPrice }} <span>&rarr;</span> Buy it </button>
        </div>
        </div>
    </div>
</div>

<div *ngIf="showBoughtProducts" class="grid m-5">
    <div *ngFor="let prod of boughtProductsList" class="grid__item">
        <div class="card"><img class="card__img" src="https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2250&amp;q=80" alt="Snowy Mountains">
        <div class="card__content">
            <h1 class="card__header">{{ prod.name }}</h1>
            <p class="card__text"> Amount:{{ prod.amount }}</p>
            <button class="card__btn">Token Price: {{ prod.tokenPrice }}</button>
        </div>
        </div>
    </div>
</div>