.navigation {
    width: 100%;
    background-color: black;
}

img {
    width: 25px;
    border-radius: 50px;
    float: left;
}

.logout {
    font-size: .8em;
    position: relative;
    right: -8px;
    bottom: -4px;
    overflow: hidden;
    letter-spacing: 3px;
}

.button {
    text-decoration: none;
    float: right;
    padding: 12px;
    margin: 15px;
    color: white;
    width: 100px;
    background-color: black;
    overflow: hidden;
}

.user-content {
    padding: 100px;
}