<div class="navigate">
    <button (click)="showSubmitForm()">Create innovation</button>
    <a (click)="signOutWithCognito()" style="cursor: pointer;" class="button">
        <img src="https://img.icons8.com/?size=512&id=108652&format=png">
        <div class="logout" >LOGOUT</div>
    </a>
</div>

<div class="card d-flex align-items-center m-auto">
  <label>First name: {{ getResponse.name }}</label>
  <label>Last name: {{ getResponse.lastname }}</label>
  <label>User Id:  {{ innovation.userId }}</label>
  <button class="btn btn-outline-dark">Tokens: {{ getResponse.tokens }}</button>
</div> 

<div class="user-content">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr >
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Innovation Status</th>
                <th scope="col">Comment</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of getResponse.innovations"   [ngClass]="{ 
            'bg-light': i.innovationStatus == 'PENDING',
            'bg-success': i.innovationStatus == 'APPROVED',
            'bg-danger': i.innovationStatus == 'REJECTED'
          }">
                <td>{{ i.title }}</td>
                <td>{{ i.description }}</td>
                <td>{{ i.innovationStatus }}</td>
                <td>{{ i.comment }}</td>
            </tr>
        </tbody>
    </table>
</div>


<div *ngIf="showSubmitPopup">
    <div class="popup-overlay"></div>
    <div class="popup-container">
      <form>
        <div>
          <label for="title">Title:</label><br>
          <input type="text" id="title" [(ngModel)]="innovation.title" name="title">
        </div>
        <div>
          <label for="description">Description:</label><br>
          <textarea id="description" [(ngModel)]="innovation.description" name="description"></textarea>
        </div>    
        <button id="approveBtn" (click)="saveInnovation()">Save</button>
        <button id="declineBtn" (click)="closeSubmitForm()">Close</button>
      </form>
    </div>
  </div>
