/* You can add global styles to this file, and also import other style files */

* {
    padding: 0;
    margin: 0;
}

html, body {
    background-color: whitesmoke;
    font-family: 'Roboto', 'sans-serif';
}

.container {
    width: 100%;
    padding-right: 24px;
    padding-left: 24px;
    margin-right: auto;
    margin-left: auto;

}

@media (min-width:1200px) {
    .container {
        max-width: 1200px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}

.w-100 {
    width: 100% !important;
}

.vh-100 {
    height: 100vh !important;
}

.justify-content-center {
    justify-content: center !important;
}

.align-items-center {
    align-items: center !important;
}

